@import "tailwindcss";

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("JetBrains Mono dev Regular"),
    local("JetBrainsMonodev-Regular"),
    local("JetBrains Mono Regular"),
    local("JetBrainsMono-Regular"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("JetBrains Mono dev Italic"),
    local("JetBrainsMonodev-Italic"),
    local("JetBrains Mono Italic"),
    local("JetBrainsMono-Italic"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Italic.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("JetBrains Mono dev Medium"),
    local("JetBrainsMonodev-Medium"),
    local("JetBrains Mono Medium"),
    local("JetBrainsMono-Medium"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Medium.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local("JetBrains Mono dev Medium Italic"),
    local("JetBrainsMonodev-Medium-Italic"),
    local("JetBrains Mono Medium Italic"),
    local("JetBrainsMono-Medium-Italic"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("JetBrains Mono dev Bold"),
    local("JetBrainsMonodev-Bold"),
    local("JetBrains Mono Bold"),
    local("JetBrainsMono-Bold"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local("JetBrains Mono dev Bold Italic"),
    local("JetBrainsMonodev-Bold-Italic"),
    local("JetBrains Mono Bold Italic"),
    local("JetBrainsMono-Bold-Italic"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local("JetBrains Mono dev ExtraBold"),
    local("JetBrainsMonodev-ExtraBold"),
    local("JetBrains Mono ExtraBold"),
    local("JetBrainsMono-ExtraBold"),
    url("/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src:
    local("JetBrains Mono dev ExtraBold Italic"),
    local("JetBrainsMonodev-ExtraBold-Italic"),
    local("JetBrains Mono ExtraBold Italic"),
    local("JetBrainsMono-ExtraBold-Italic"),
    url("/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff") format("woff");
}

@theme {
  --font-mono: "JetBrains Mono", "Liberation Mono", Consolas, Menlo, Courier, monospace;
  --breakpoint-sm: 640px;
  --breakpoint-nav: 720px;
  --breakpoint-md: 1000px;
  --breakpoint-lg: 1276px;
  --color-dark: #27282c;
}

@layer base {
  body {
    background-color: var(--color-dark);
  }

  footer {
    grid-template-areas:
      "social-list social-list"
      "nav-list nav-list"
      "text logo";
  }

  @media (min-width: 641px) {
    footer {
      grid-template-areas:
        "social-list logo"
        "nav-list logo"
        "text text";
    }
  }

  .rs-link {
    color: white;
    border-bottom: 1px solid white;
    text-underline-offset: 4px;
    background-image: linear-gradient(to bottom, white 0%, white 100%);
    background-size: 100% 0%;
    background-repeat: no-repeat;
    background-position: bottom;
    transition:
      background-size 0.3s ease,
      color 0.3s ease;
  }

  .rs-link:hover {
    background-size: 100% 100%;
    color: black;
  }

  .rs-link svg {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: -8px;
    transition: color 0.3s ease;
  }

  pre {
    margin: 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  .hljs {
    background: #f8f8f8 !important;
  }
}

@utility shadow-header {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
}

@utility gradient-start-section {
  background: #7f52ff
    radial-gradient(89.53% 145.96% at 0.34% 100.79%, #ef4857 0%, #de4970 17.58%, #b44db0 50.31%, #7f52ff 97.03%);
}
