@import "tailwindcss";
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-nav: 720px;
  --breakpoint-md: 1000px;
  --breakpoint-lg: 1276px;
  --color-dark: #27282c;
}

@layer base {
  body {
    background-color: var(--color-dark);
  }

  .rs-link {
    color: white;
    border-bottom: 1px solid white;
    text-underline-offset: 4px;
    background-image: linear-gradient(to bottom, white 0%, white 100%);
    background-size: 100% 0%;
    background-repeat: no-repeat;
    background-position: bottom;
    transition:
      background-size 0.3s ease,
      color 0.3s ease;
  }

  .rs-link:hover {
    background-size: 100% 100%;
    color: black;
  }

  .rs-link svg {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: -8px;
    transition: color 0.3s ease;
  }

  pre,
  code,
  var,
  kbd,
  samp {
    font-family: monospace, serif;
    _font-family: "courier new", monospace;
    font-size: 1em;
  }

  pre {
    margin: 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@utility shadow-header {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
}
